
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Регистрация</title>

</head>
<body>
<p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><p style="font-weight: bold; color: purple;">PetHelper</p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="ads"><button type="button" class="btn btn-outline-success">Объявления</button> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="sing_in"><button type="button" class="btn btn-outline-success">Войти</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/"><button type="button" class="btn btn-outline-success">Назад</button></a>
      </li>
    </ul>
  </div>
</nav>
<p>

    {% if user_created %}

        <div class="alert alert-success">User Created</div>

    {% elif error_message=="user_exists" %}

        <div class="alert alert-danger">User with this login already exists</div>

    {%endif%}

    <div class="container">

        <h1>Регистрация</h1>



        <form method="post" action="add_user">

            <div class="form-group">


                <label>ФИО</label>
                <input class="form-control" type="text" name="fio" required>


                <label>Логин</label>
                <input class="form-control" type="text" name="username" required>


                <label for="userPassword">Пароль</label>
                <input class="form-control" id="userPassword" type="password" autocomplete="current-password" required>

                <label>Дата рождения</label>
                <input class="form-control" type="text" name="datebirth">


                <label>Ближайшая станция метро</label>
                <input class="form-control" type="text" name="metro">


                <label>Мобильный телефон</label>
                <input class="form-control" type="text" name="tel">


                <label>Дополнительная информация</label>
                <input class="form-control" type="text" name="info">


            </div>
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>

        </form>

    </div>

</body>

</html>