<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="ads" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Объявления</title>

</head>
<p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><p style="font-weight: bold; color: purple;">PetHelper</p></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="add_user"><button type="button" class="btn btn-outline-success">Регистрация</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="sing_in"><button type="button" class="btn btn-outline-success">Войти</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/"><button type="button" class="btn btn-outline-success">Назад</button></a>
      </li>
    </ul>
  </div>
</nav>
<p>

<body>
<div class="container">

    <form class="form" method="get" action="/search" align = "right">
         <input type="search" name="query" class="form-control">
        <button type="submit" class="btn btn-success" style="font-weight: bold"  align = "right">Поиск объявлений</button>
    </form>
</div>
<div>
    <img class="d-block w-0.2" width="1350px" src="https://sun3-2.userapi.com/c626527/v626527497/44df9/Reqm1hBBfSc.jpg" border = 0 >

</div>
<div class="collapse navbar-collapse" id="navbarSupportedContent" align="center">
    <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="newad">
            <button type="submit" class="btn btn-success" style="font-weight: bold"><h1>Создать объявление</h1></button> </a>
    </ul>
</div>
</body>
</html>