<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Регистрация</title>

</head>
<body>
<div
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><p style="font-weight: bold; color: purple;">PetHelper</p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    {% if user_created %}

        <div class="alert alert-success">User Created</div>

    {% elif error_message=="user_exists" %}

        <div class="alert alert-danger">User with this login already exists</div>

    {%endif%}

    <div class="container">

        <h1>Создайте ваше объявление!</h1>



        <form method="post" action="newad">

            <div class="form-group">



                <label>Необходиая услуга</label>

                <input class="form-control" type="text" name="service" required>



                <label>Вид животного</label>

                <input class="form-control" type="text" name="breed" required>



                <label>Кличка</label>

                <input class="form-control" type="text" name="nick" required>



                <label>Возраст питомца</label>

                <input class="form-control" type="text" name="age">



                <label>Особенности питомца</label>

                <input class="form-control" type="text" name="pecr">


                <label>Время</label>

                <input class="form-control" type="text" name="time">


                <label>Дата</label>

                <input class="form-control" type="text" name="date">

            </div>

            <button type="submit" class="btn btn-success">Создать объявление</button>

        </form>

    </div>

</body>

</html>