<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Регистрация</title>

</head>
<body>
        <button class="navbar navbar-expand-lg navbar-light bg-light" href = "page01">
  <a class="navbar-brand"><p style="font-weight: bold; color: purple;">PetHelper</p></a>
        </button>
  <div>

    <div class="container">

        <h1>Создайте ваше объявление!</h1>



        <form method="post" action="newad">

            <div class="form-group">



                <label>Необходиая услуга</label>

                <input class="form-control" type="text" name="service" required>



                <label>Вид животного</label>

                <input class="form-control" type="text" name="animalkind" required>



                <label>Кличка</label>

                <input class="form-control" type="text" name="nickname" required>


                <label>Особенности питомца</label>

                <input class="form-control" type="text" name="requirements">


                <label>Время</label>

                <input class="form-control" type="text" name="datetime">


            </div>

            <button type="submit" class="btn btn-success" style="font-weight: bold">Создать объявление</button>

        </form>

    </div>

</body>

</html>